.about {
  padding: 80px 70px 0;
  text-align: center;

  /* TWO COLOR BACKGROUND */
  background: linear-gradient(
    to bottom,
    #041b42 0%,
    #041b42 60%,
    #f2f2f2 60%,
    #f2f2f2 100%
  );
}

/* TOP CONTENT */

.about-top {
  max-width: 900px;
  margin: auto;
}

.small-title {
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
}

.about h2 {
  color: white;
  font-size: 48px;
  margin: 20px 0;
}

.description {
  color: #e7e7e7;
  line-height: 1.8;
  max-width: 850px;
  margin: auto;
}

/* BUTTON */

.about button {
  margin-top: 30px;
  padding: 12px 30px;

  border: none;
  border-radius: 25px;

  background: white;

  font-weight: 600;
  cursor: pointer;

  transition: 0.3s;
}

.about button:hover {
  background: #ddd;
}

/* CONTENT AREA */

.about-content {
  position: relative;

  margin-top: 140px;
  padding-bottom: 120px;
}

/* STATS CARD */

.stats {
  position: absolute;

  width: 568px;
  min-width: 568px;
  height: 172px;

  top: -20px;
  left: 110px;

  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

  padding: 28px 30px;

  border-radius: 8px;
  border: 1px solid black;

  background: #a3a9f0;
}

/* BOX */

.box h3 {
  margin: 0;
  font-size: 38px;
}

.box p {
  margin-top: 10px;
}

/* IMAGES */
.images {
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* Temple image */

.images img:first-child {
  width: 464px;
  height: 506px;
  margin-top: 95px;
  object-fit: cover;
  border: 1px solid black;
}

/* Industry image */

.images img:last-child {
  width: 465px;
  height: 506px;
  min-width: 300px;
  border: 1px solid black;
  object-fit: cover;
}
@media (max-width: 992px) {
  .about {
    padding: 70px 40px 0;
  }

  .about h2 {
    font-size: 40px;
  }

  .about-content {
    margin-top: 100px;
  }

  .stats {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    min-width: auto;

    margin: 0 auto 50px;
  }

  .images {
    gap: 40px;
  }

  .images img:first-child,
  .images img:last-child {
    width: 380px;
    height: 420px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 60px 20px 0;
  }

  .about h2 {
    font-size: 34px;
  }

  .images {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .stats {
    flex-wrap: wrap;
    height: auto;
    padding: 25px;
    gap: 20px;
  }

  .images img:first-child,
  .images img:last-child {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .about h2 {
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }

  .stats {
    padding: 20px;
  }

  .box h3 {
    font-size: 28px;
  }

  .box p {
    font-size: 14px;
  }

  .about button {
    width: 100%;
    max-width: 220px;
  }
}
