.bank-section {
  width: 100%;
  padding: 70px 0;
  background: #a8a9f4;

  overflow: hidden;
}

/* TITLE */

.bank-title {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 140px;

  margin-bottom: 60px;
}

.bank-title h2 {
  font-size: 34px;
  font-weight: 500;

  color: #111;

  letter-spacing: 1px;
}

.line {
  width: 120px;
  height: 1px;

  background: #4a4a4a;
}

/* SLIDER */

.slider-container {
  width: 100%;
  overflow: hidden;
}

/* TRACK */

.slider-track {
  display: flex;
  align-items: center;

  gap: 55px;

  width: max-content;

  animation: scrollLeft 11s infinite;
}

@keyframes scrollLeft {
  /* START */
  0% {
    transform: translateX(0);
  }

  /* FAST MOVE */
  82% {
    transform: translateX(-50%);
  }

  /* SLOW */
  92% {
    transform: translateX(-52%);
  }

  /* STOP AT BANK1 */
  97% {
    transform: translateX(-52%);
  }

  /* RESTART */
  100% {
    transform: translateX(0);
  }
}

/* LOGO */

.bank-logo-box {
  flex-shrink: 0;

  width: 260px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
}

.bank-logo-box img {
  width: 100%;
  height: 100%;

  object-fit: contain;

  display: block;

  filter: brightness(1.02) contrast(1.1);

  mix-blend-mode: darken;
}

/* ONLY LEFT CONTINUOUS */

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-30%);
  }
}
